@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* Farben
beige
#FCCC97
dunkelblau
#003E57
*/

:root {
    font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'DM Sans', sans-serif;
  color: #003E57;
}

.page-wrapper {
  background-color: #FCCC97;
  height: calc(100% - 10rem);
  margin: 5rem 5rem 0 5rem;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: 'DM Sans', sans-serif;
  color: #003E57;
}
h1 {
  font-size: 15rem;
  font-weight: 700;
  display: table;
  margin: 0;
  position: relative;
}
h3 {
  font-size: 6rem;
  line-height: 7.5rem;
  font-weight: 500;
  margin: 5.6rem 0;
}
h4 {
  font-size: 3.5rem;
  line-height: 4.5rem;
  font-weight: 700;
  margin: 0;
}
h4.zwischentitel {

}
h4 em {
font-weight: 400;
color: #003E57;
font-style: normal;
}
h4:first-of-type {
  margin-top: 3.3rem;
}
h1::after {
    border-left: 6rem solid #FCCC97;
}
h1::after {
    content: "";
    display: table-cell;
    width: 100%;
    background-image: linear-gradient(to right, #003E57 100%, transparent 0%);
    background-position: 0 50%;
    background-repeat: repeat-x;
    background-size: 1rem 1.5rem;
}
h1::before {
    content: "";
    position: absolute;
    background-color: #003E57;
    width: 1.5rem;
    height: 50%;
    right: 0;
    top: 50%;
}

.uebertitel {
  margin: 0 0 16rem 0;
}

h2 {
  font-size: 10rem;
  font-weight: 700;
  display: table;
  margin: 0;
  position: relative;
  white-space: nowrap;
  overflow-wrap: break-word;
}
 h2::after {
   content: "";
    display: table-cell;
    width: 100%;
    background-image: linear-gradient(to right, #003E57 100%, transparent 0%);
    background-position: 0 50%;
    background-repeat: repeat-x;
    background-size: 1rem 1.5rem;
 }
 h2::after{
   border-left: 6rem solid #FCCC97;
 }

 h2::before {
    content: "";
    position: absolute;
    background-color: #003E57;
    width: 1.5rem;
    height: 50%;
    right: 0;
    top: 50%;
 }

p {
  font-size: 2.7rem;
  line-height: 3.7rem;
  margin-bottom: 3.9rem;
}
p a {
  color: rgba(0, 62, 87, 1);
  border-bottom: 0.3rem solid rgba(0, 62, 87, 1);
  padding-bottom: 0;
  transition: all 0.3s ease-out;
}
p a:hover {
  text-decoration: none;
  color: rgba(0, 62, 87, 0.7);
  border-bottom: 0.3rem solid rgba(0, 62, 87, 0.7);
}
.hauptspalte-breit ul {
	margin-top: 0;
}
ul.liste-in-text {
margin-top: -1.5rem;
}
li {
font-size: 2.7rem;
  line-height: 3.7rem;
}
.bild-rund {
border-radius: 50%;
}

.abschlusslinie {
  height: 7rem;
  border-left: 1.5rem solid #003E57;
  border-bottom: 1.5rem solid #003E57;
  border-right: 1.5rem solid #003E57;
}
.hand-container {
  position: absolute;
  top:50rem;
  right: 0;
  z-index: 10;
  max-width: 50%;
}

/*** Navigation ***/
.uk-padding-large.div-nav {
  padding: 9rem 9rem 0 9rem;
}

.uk-navbar-item{
	font-size: 3.5rem;
}

.uk-container{
	padding-left: 7.5rem;
	padding-right: 7.5rem;
	padding-top: 5.0rem;
}

.uk-offcanvas-bar{
	width: 100vw;
	background: rgba(0, 62, 87, 0.95);
	padding: 4.0rem 4.0rem;
	left: -100vw;
}

.uk-offcanvas-flip .uk-offcanvas-bar {
  	left: auto;
  	right: -100vw;
}

.uk-offcanvas-flip .uk-open > .uk-offcanvas-bar {
	padding-top: 30.0rem;
	padding-left: 14.5rem;
}

.uk-nav-default{
	font-size: 3rem;
}

.uk-navbar-item {
	padding: 0;
    	color: #003e57;
}

.uk-navbar-item > a {
	text-decoration: none;
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
}

.uk-navbar-item > a:hover {
	color: #003E57;
}

.uk-navbar-toggle{
	padding: 0;
    	color: #003e57;
}

.uk-offcanvas-bar .uk-nav-default > li > a{
	color: rgba(255,255,255,1);
}

.uk-offcanvas-close {
	margin-top: 13.5rem;
	margin-right: 11.5rem;
}

.uk-nav > li > a {
	padding: 1.5rem 0;
}

.uk-nav > li > a.active {
	color: #FCCC97;
}
.menu-open {
width: 5.8rem;
}
.menu-close {
width: 5.8rem;
}


/**** Layout ****/
.uk-padding-large.div-title {
  padding: 9rem 9rem 0 9rem;
}
.uk-padding-large.div-content {
  padding: 0 9rem 9rem 9rem;
}
.uk-padding-large.div-content > div {
  border-right: 1.5rem solid #003E57;
}
.hauptspalte {
  width: 78rem;
  padding-bottom: 5.5rem;
}
.hauptspalte-breit {
width: 111rem;
padding-bottom: 5.5rem;
}


/**** Accordion ****/
.uk-accordion-title, .uk-accordion-title:hover, .uk-accordion-title:active, .uk-accordion-title:focus {
  font-size: 2rem;
  font-weight: 500;
  color: #003E57;
  text-align: right;
  border-bottom: 0.3rem solid #003E57;
  padding-bottom: 0.6rem;
}
.uk-accordion-title::before {
    content: "";
    width: 1.4em;
    height: 1.4em;
    margin-left: 1rem;
    float: right;
    background-image: url("../svg/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.uk-open > .uk-accordion-title::before {
    background-image: url("../svg/arrow-up.svg");
}
.uk-accordion {
    padding: 0;
    list-style: none;
    margin-bottom: 5.5rem;
}
.uk-accordion-content {
    margin-top: 0;
}
li.uk-open .uk-accordion-title {
	color: transparent;
}
.uk-accordion-content > :last-child {
    margin-bottom: 3.9rem;
}

/**** Buttons ****/
a.uk-button {
  margin-top: 3rem;
  border: none;
}
a.uk-button:hover {
  border: none;
  background-color: rgba(0, 62, 87, 0.7);
}
.uk-button-primary {
  background-color: #003E57;
  font-size: 2.7rem;
  text-transform: none;
  font-weight: 400;
}
.uk-button-primary:focus, .uk-button-primary:hover {
  background-color: rgba(0, 62, 87, 0.7) !important;
}
.uk-button-large {
  padding: 1.6rem 2.2rem;
min-width: 21rem;
}

/**** Programm ****/
 .programm-punkt:first-of-type {
   margin-top:6.5rem;
 }
.programm-punkt {
display: flex;
width: 100%;
margin-bottom: 4.5rem;
}
.programm-zeit {
  width: calc(33% - 3rem);
	margin-right: 1.5rem;
}
.programm-zeit p{
  font-weight: bold;
}
.programm-beschreibung {
  margin: 0;
width: 67%;
}
.programm-zeit p, .programm-beschreibung p {
margin-bottom: 0;
}

/**** Referenten ****/
.referenten:first-of-type {
   margin-top: 6.5rem;
 }
.referenten {
    display: flex;
    width: 100%;
    /*border-bottom: 3px solid #003E57;*/
    padding: 0 0 1.8rem 0;
    margin: 5.7rem 0 0 0;
}

.referenten-name {
  width: calc(33% - 3rem);
margin-right: 1.5rem;
}

.referenten-name p{
  font-weight: bold;
}
.referenten-beschreibung {
  margin: 0;
width: calc(67% + 1.5rem);
}
.referenten-name p, .referenten-beschreibung p {
margin-bottom: 0;
}
.referenten-beschreibung.abstand p {
margin-bottom: 3.9rem;
}
.ohnelinie {
border-bottom: none;
}

/**** Multistep Formular ****/
/* #regForm {
  margin-top: 10rem;
  }
input.invalid {
  background-color: #ffdddd;
}
.tab {
  display: none;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.step.active {
  opacity: 1;
}
.step.finish {
  background-color: #4CAF50;
} */

/**** Form Style ****/
.yform {
	margin-top: 6.5rem;
}
.tab {
margin-bottom: 7.5rem;
}
[type="radio"] {
    width: 3rem;
    height: 3rem;
}
label {
	font-size: 2.5rem;
	font-weight: 400;
}
.form-group {
display: flex;
margin-top: 5rem;
}
.control-label {
width: calc(33% - 3rem);
margin-right: 1.5rem;
padding-top: 0.5rem;
}
select {
	width: 25% !important;
}
.tab-sel-workshops .control-label {
width: calc(67% - 3rem);
margin-right: 1.5rem;
padding-top: 0.5rem;
}
.tab-sel-workshops select {
	width: 33% !important;
	height: 5rem;
}
.form-control {
padding: 0.3rem 1.5rem 0 1.5rem;;
font-size: 2.5rem;
height: 5rem;
color: #003E57;
border: none;
width: 67%;
border-radius: 0.6rem;
background: rgba(255,255,255,0.5);
font-family: 'DM Sans', sans-serif;
}
.titel-persang {
margin-bottom: -2rem;
}
.titel-mittagessen {
margin-bottom: 2rem;
}
option:disabled{
  color: silver;
}
.trennlinie-ws {
border-bottom: 0.3rem solid #003E57;
padding-bottom: 1rem;
width: calc(100% - 1.5rem);
}
.alert-danger {
background: #003E57;
padding: 1.5rem 1.5rem 0.5rem 1.5rem;
margin-bottom: 5rem;
}
.alert-danger li {
color: #FCCC97;
}
.bemerkung {
	margin-left: calc(33% - 1.5rem);
	font-size: 2rem;
	line-height: 2.5rem;
	margin-top: 1.5rem;
	margin-bottom: 0;
}
.bem0 {
	margin-left: 0;
	margin-top: 1.5rem;
}
.form-beschreibung {
	margin-bottom: 0.5rem;
}
.labelfett {
	font-size: 2.5rem;
	color: #003E57;
	font-weight: 700;
}



/*.nextbtn::after {
    content: "";
    width: 2rem;
    margin-left: 4rem;
    float: right;
    background-image: url("../svg/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}*/
/*.prevbtn::after {
    content: "";
    width: 2rem;
    margin-right: 4rem;
    float: left;
    background-image: url("../svg/arrow-left.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}*/
.anmelde-buttons {
	overflow: auto;
	margin-top: 5rem;
}

/**** Footer ****/
footer {
 	height: 24rem;
  	background-color: #003E57;
	color: white;
	padding: 5rem 14rem;
	display: flex;
	align-items: center;
	position: relative;
}
footer .footer-inhalt {
	position: absolute;
	z-index: 100;
}
footer .uk-padding-large{
	padding: 0 9rem;
}
footer .uk-button{
	margin-top: 0;
}
footer img{
	width: 18rem;
	margin-top: 2rem;
}
span{
	font-size: 2rem;
	color: white;
}
span > a{
	font-size: 2rem;
	color: white;
}
span > a:hover{
	font-size: 2rem;
	color: rgba(255,255,255,.7);
	text-decoration: none;
}
.uk-button-default{
	background-color: white;
	color: #003E57;
	font-size: 2rem;
	text-transform: none;
	padding: 1rem 1.6rem;
}
a.uk-button-default:hover {
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
}

footer .uk-grid .uk-first-column a:last-child {
	margin-top: 0.5rem;
}

footer .uk-padding-large {
    padding: 0;
}

footer .uk-grid .uk-first-column:last-child a:last-child {
		margin: 2.5rem 0 0 0;
}


@media only screen and (min-width : 1600px) and (max-width : 1920px) {
     hand-container {
        max-width: 70%;
    }
}

@media only screen and (max-width : 1600px) {
	h2 {
		white-space: normal;
	}
	footer {
		margin: 0;
	}
	
	.hauptspalte-breit {
		padding: 0 3rem;
	}
}

@media only screen and (min-width : 1200px) and (max-width : 1725px) {
	footer div div a:first-child {
		margin-bottom: 2.5rem;
	}
}

@media only screen and (min-width : 1200px) and (max-width : 1600px) {
   .hand-container {
   		max-width: 38%;
	}
	.uk-grid>* {

    	}
	footer {
		padding: 5rem 14rem!important;
	}
	footer .uk-padding-large {
    		padding: 0;
	}
}

@media only screen and (min-width : 960px) and (max-width : 1200px) {
    .uk-grid>* {
    	padding-left: 30px;
    	padding-right: 30px;
    }

	footer {
		padding: 2.5rem 5rem;
	}
	footer a.uk-button-default {
    		padding: 0 1.5rem!important;
	}
}

@media only screen and (max-width: 1200px) {
	.hand-container {
		display: none;
	}
	h1::after {
	    	border-left: 6rem solid #FCCC97;
	}
	h1::after {
	    	background-size: 1rem 1rem;
	}
	h1::before {
	    	width: 1rem;
	}
	.uk-padding-large.div-content > div {
    		border-right: 1rem solid #003E57;
	}
	.abschlusslinie {
		padding: 2.5rem 0 0 0;
	    	height: 7rem;
	    	border-left: 1rem solid #003E57;
	    	border-bottom: 1rem solid #003E57;
	    	border-right: 1rem solid #003E57;
	}
	.uk-padding-large {
    		padding: 0 30rem;
	}
	.uk-padding-large.div-title {
	  padding: 2.5rem 2.5rem 0 2.5rem;
	}
	.uk-padding-large.div-content {
	  padding: 0 2.5rem 2.5rem 2.5rem;
	}
	.uk-padding-large.div-nav {
    	  padding: 2.5rem 2.5rem 0 2.5rem;
	}
	footer .uk-padding-large {
    	  padding: 0;
	}

	.uebertitel {
	  margin: 0 0 16rem 0;
	}

	 h2::after {
	    background-size: 1rem 1rem;
	 }

	 h2::before {
	    width: 1rem;
	 }
	.page-wrapper {
		height: calc(100% - 10rem);
		margin: 5rem 5rem 0 5rem;
	}

	h3 {
		margin: 1.75rem 0!important;
		padding: 0!important;
	}
	h4 {
		margin: 2rem 0 1rem 0!important;
		padding: 0!important;
	}

	.hauptspalte-breit .page-wrapper div:nth-child(3) {
		padding: 0;
	}

	p {
	    margin: 1rem 0 0 0!important;
	    padding: 0!important;
	}

	.uk-navbar-item {

	}
	.uk-navbar-toggle{
    		padding-right: 0rem;
		max-width: 4rem;
	}
	.uk-offcanvas-close {
    		margin-top: 0rem;
    		margin-right: 0rem;
		padding: 0;
		max-width: 4rem;
	}
	.uk-offcanvas-flip .uk-open > .uk-offcanvas-bar {
		padding-top: 10rem;
		padding-left: 4rem;
	}
	.uk-margin-medium-right {
    		margin-right: 2rem!important;
	}
	.uk-offcanvas-bar .uk-nav-default > li > a {

	}
	.uk-accordion-title {
		font-weight: 500;
		color: #003E57;
		text-align: right;
		border-bottom: 0.1rem solid #003E57;
		padding-bottom: 0.25rem;
	}
	.uk-accordion-title, .uk-accordion-title:hover, .uk-accordion-title:active, .uk-accordion-title:focus {
		font-weight: 500;
		color: #003E57;
		text-align: right;
		border-bottom: 0.1rem solid #003E57;
		padding-bottom: 0.25rem;
	}

	.referenten-beschreibung {
		width: 100%;
	}

	.hauptspalte-breit .referenten {
	    border-bottom: none;
	}

	.ohnelinie .referenten-name {
		margin-right: 3rem;
	}

	.referenten-name img {
		margin-left: 0;
	}

	footer .uk-grid > * {
		padding: 0 2.5rem !important;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	footer {
 	height: auto;
  	background-color: #003E57;
	color: white;
	padding: 5rem 10.5rem;
	display: flex;
	align-items: center;
	position: static;
	}
	footer .footer-inhalt {
	position: static;
	z-index: 100;
	}
	footer a {
		margin: 0;
	}
	footer .uk-grid .uk-first-column:first-child {
   		margin: 0 0 2rem 0;
	}
	footer .uk-grid .uk-first-column span {
		font-size: 1.5rem;
    		line-height: 2.25rem;
	}
	footer .uk-grid .uk-first-column:last-child {
		display: flex;
		flex-direction: row;
		margin: 0 0 2rem 0;
	}
	footer .uk-grid .uk-first-column:nth-child(3) {
		display: flex;
		flex-direction: column;
		margin: 0 0 2.5rem 0;
	}
	footer .uk-grid .uk-first-column:nth-child(4) {
		display: flex;
		flex-direction: column;
		margin: 0 0 2.5rem 0;
	}
	footer .uk-grid .uk-first-column a {
		padding: 0;
		/* width: 10rem;
		margin: 0 2.5rem 0 0;
		height: 3rem;
		display: flex;
		align-items: center;
		justify-content: center; */
		font-size: 1.5rem;
	}
	footer .uk-grid .uk-first-column:last-child a:first-child {
		margin: 0 2.5rem 0 0;
	}
	footer .uk-grid .uk-first-column:last-child a:last-child {
		margin: 0 0 0 0;
	}

	footer .uk-grid .uk-first-column img {
		width: 15rem;
		margin: 0.5rem 0 0 0;
	}
	footer .uk-grid > * {
		padding: 0!important;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	* + .uk-grid-margin, .uk-grid + .uk-grid, .uk-grid > .uk-grid-margin {
   	 margin-top: 0;
	}
}

@media only screen and (max-width: 960px) {
	.hand-container {
		display: none;
	}
	.abschlusslinie {
		display: none;
	}
	h1::before {
		display: none;
	}
	h1::after {
		display: none;
	}
	h2::before {
		display: none;
	}
	h2::after {
		display: none;
	}
	.page-wrapper {
		height: calc(100% - 10rem);
		margin: 2.5rem 2.5rem 0 2.5rem;
	}
	.div-title {
	 	width: 100%;
		margin: 0!important;
		padding: 0!important;
	}
	.div-content {
		width: 100%;
		margin: 0!important;
		padding: 0!important;
		border-right: none;
	}
	.uk-padding-large > div {
		border-right: none;
	}
	.uk-container {
		width: 100%;
		margin: 0!important;
		padding: 0!important;
	}
	.uk-container-expand {
	    width: 100%;
	    margin: 0;
	    padding: 0 2.5rem 2.5rem 2.5rem !important;
	}
	.uk-padding-large {
		width: 100%;
		margin: 0!important;
		padding: 0!important;
	}
	.uk-padding-large {
		width: 100%;
		margin: 0!important;
		padding: 0!important;
	}
	.hauptspalte {
		width: 100%;
		margin: 0!important;
		padding: 0!important;
		display: inline-block;
	}
	.uk-grid {
		width: 100%;
		margin: 0!important;
		padding: 0!important;
	}
	h1 {
		font-size: 5.2rem;
		line-height: normal;
		width: 100%;
		margin: 0!important;
		padding: 0!important;
	}
	h2 {
		font-size: 4rem;
		line-height: normal;
		width: 100%;
		margin: 0!important;
		padding: 0!important;
		word-break: keep-all;
	}
	h3 {
		font-size: 2.5rem;
		line-height: 3.125rem;
		width: 100%;
		margin: 1.75rem 0!important;
		padding: 0!important;
	}
	h4 {
		font-size: 1.8rem;
		line-height: 2.25rem;
		width: 100%;
		margin: 2rem 0 1rem 0!important;
		padding: 0!important;
	}
	p {
	    font-size: 1.5rem;
	    line-height: 2.25rem;
	    width: 100%;
	    margin: 0!important;
	    padding: 0!important;
	}
	.hauptspalte p {
		margin: 0!important;
	}
	.hauptspalte .uk-accordion {
		margin-bottom: 0;
	}
	.uk-navbar-item {
    		font-size: 1.8rem;
		padding: 0;
	}
	.uk-navbar-toggle{
    		padding-right: 0rem;
		max-width: 4rem;
	}
	.uk-offcanvas-close {
    		margin-top: 0rem;
    		margin-right: 0rem;
		padding: 0;
		max-width: 4rem;
	}
	.uk-offcanvas-flip .uk-open > .uk-offcanvas-bar {
		padding-top: 10rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.uk-margin-medium-right {
    		margin-right: 2rem!important;
	}
	.uk-offcanvas-bar .uk-nav-default > li > a {
    		font-size: 2rem;
	}
	.uk-accordion-title {
		font-size: 1.2rem;
		font-weight: 500;
		color: #003E57;
		text-align: right;
		border-bottom: 0.1rem solid #003E57;
		padding-bottom: 0.25rem;
	}
	.uk-accordion-title, .uk-accordion-title:hover, .uk-accordion-title:active, .uk-accordion-title:focus {
	    font-size: 1.5rem;
	    font-weight: 500;
	    color: #003E57;
	    text-align: right;
	    border-bottom: 0.1rem solid #003E57;
	    padding-bottom: 0.25rem;
	}

	.uk-padding-large.div-content > div {
    	border-right: none!important;
	}

	.hauptspalte-breit .referenten {
		display: flex;
		flex-direction: column;
		border-bottom: none;
	}

	.hauptspalte-breit .referenten .referenten-name {
		width: 100%;
	}

	.hauptspalte-breit {
		padding: 0;
	}
	.hauptspalte-breit p:first-child {

	}
	.referenten-name img {
    		margin-bottom: 3rem;
	}

	.referenten:nth-of-type(3) {
		margin-top: 3.5rem;
	}
	.referenten p {
		margin: 0 0 1.5rem 0!important;
	}
	.referenten-beschreibung {
		margin: 0;
		width: 100%;
	}
	.programm-zeit {
	    width: 100%;
	    margin: 0 0 1rem 0;
	}
	footer .uk-grid .uk-first-column img {
		width: 10rem;
		margin: 0.5rem 0 0 0;
	}
	footer {
		padding: 2.5rem 2.5rem;
	}
	footer {
    		padding: 2.5rem 5rem;
	}
	footer a.uk-button-default {
    		padding: 0 1.5rem !important;
	}
}

@media only screen and (max-width: 640px) {
	.page-wrapper {
		height: calc(100% - 10rem);
		margin: 0;
    padding-bottom: 5rem;
	}
  h2 {
    font-size: 3.8rem;
  }
  p {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
  p a {
    border-bottom-width: 0.1rem;
  }
  ul.liste-in-text {
    margin-top: 0.3rem;
  }
  .tab li, .alert-danger li {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
  .bemerkung {
    font-size: 1.6rem;
    line-height: 2.3rem;
    margin-left: 0;
  }
  label {
    font-size: 1.6rem;
  }
  .radio {
    margin-top: 1rem;
  }
  [type="radio"] {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}
  .form-group {
    flex-direction: column;
    margin-top: 2rem;
  }
  select {
    width: 100% !important;
  }
  .form-control {
    width: 100%;
    font-size: 2rem;
  }
  .labelfett {
    font-size: 1.6rem;
  }
  .tab-sel-workshops .control-label {
    width: 100%;
  }
  .tab-sel-workshops select {
    width: 100% !important;
  }
  .uk-button-large {
    padding: 1rem 1.5rem;
    min-width: 17rem;
  }
  .uk-button-primary {
    background-color: #003E57;
    font-size: 2rem;
    text-transform: none;
    font-weight: 400;
  }
  
  .uk-margin-medium-right {
    margin-right: 0 !important;
  }
	.uk-container-expand {
	    width: 100%;
	    margin: 0;
	    padding: 0 1.5rem 1.5rem 1.5rem !important;
	}
	.referenten {
		margin: 0;
	}
	.ohnelinie {
		margin: 0;
		padding: 0;
	}
	  .hauptspalte-breit > .workshop-liste {
	    margin-top: 3rem;
	  }
	  .workshop-liste .referenten-name {
	    margin-bottom: 0;
	  }
	.programm-zeit {
	    width: 100%;
	    margin: 0 0 1rem 0;
	}
	.referenten p {
   		margin: 0 0 1.5rem 0!important;
	}
	  .programm-punkt {
	    flex-direction: column;
	    margin-bottom: 2rem;
	  }
	  .programm-beschreibung, .programm-zeit {
	    width: 100%;
	    margin: 0;
	  }  
	footer {
    		padding: 2.5rem 0;
	}
 	 footer a.uk-button-default {
    		padding: 0 1.5rem !important;
  	}
	footer .uk-grid > * {
    		padding: 0 1.5rem !important;
	}
}
